body{
    background-color: beige;
    display:flex;
    justify-content: center;

}

.navbar{
    margin-top: 40px;
}

.menu{
    list-style: none;
}
.menu li{
    position: relative;
}
.menu:hover .profile-btn{
    background-color: darkcyan;
    color:white;
}

.profile-btn{
    background-color: white;
    border-radius: 10px;
    color:darkcyan;
    font-size: 35px;
    padding:15px 20px 15px 20px;
    box-shadow: 5px 10px 5px gray;
    display: block;
}

.submenu{
    position:absolute;
    list-style: none;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    min-width: 150px;
    opacity: 0; 
    visibility: hidden;
    transition:all 0.5s ease;
    
}
.submenu a{
    display:block;
    padding:8px 9px;
    color:darkcyan;
    font-size: 20px;
}

.submenu a:hover{
    background-color: darkcyan;
    color:white;
    border-radius: 6px;
}
.dropdown:hover .submenu{
    opacity: 1;
    visibility: visible;
    transform: translateX(30%) translateY(0);
}