body{
    margin:0;
    background-color: burlywood;
}
.header{
    position:sticky;
    background-color: black;
    color:white;
    padding:20px;
    display: flex;
    justify-content: space-between;

}
.header nav a{
    color:bisque;
    padding:20px;
    text-decoration: none;
}
.page{
    display:grid;
    grid-template-columns: 250px 1fr;
    min-height: 800px;
}
.sidebar{
    background-color: wheat;
    padding:20px;
}
main{
    padding:20px;
}
.footer{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
}
.hero{
    background-color: wheat;
    padding: 20px;
    margin-bottom: 20px;
}
.products{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}
.product{
    background-color: white;
    padding: 15px;
    width:250px;
    position: relative;
    border: 1px solid whitesmoke;
}
.product img{
    width:100%;
    height: 200px;

}