.container{
    padding:10px;
}
.slide-wrapper{
    display:flex;
    width:calc(100% * 8); 
    animation: spin 12s infinite linear;
    background-color: black;
}

.slider{
    overflow: hidden;
    height: 500px;
    max-width: 500px;
    margin:0 auto;
    
}
.slide-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 5px;
  border-radius: 20px;
}

@keyframes spin{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .slide-wrapper img {
    height: 300px; 
  }
}