.container{
    display:flex;
    background-color: beige;
    justify-content: center;
    gap:20px;
}

.container div{
    background-color:white;
    margin:10px;
    padding:20px;
    font-size:20px
}

.card{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 8px 2px 5px grey;

}

.card-content{
    padding:10px;
    text-align: justify;
}